@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Chalkboard SE', '微軟正黑體', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fce4ec; /* Pink 50 */
}
